.container {
    text-align: center;
    margin-top: 20px;
}

table {
    margin-top: 21px;
    /* margin: auto; */

    width: 266px;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    width: 288px;
    height: 149px;
    border-radius: 20px;
    text-align: center;
    background-color: #afafaf3b;
    color: #F5BD89;
    box-shadow: 0px 4px 4px #0000003a;
    border: #afafaf3b;
}

button {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50px;
    height: 50px;
    background-color: #545353;
    color: #F5BD89;
    border-radius: 100%;
    box-shadow: 0px 4px 4px #0000003a;
    border: #545353;
}

h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-stretch: extra-condensed;
    font-style: normal;
}

td {
    padding-left: 22px;
    padding-top: 10px;
}

.calculator {
    display: inline-block;
    padding-top: 49px;
    padding-bottom: 21px;
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 20px;
    width: 320px;
    box-shadow: 0px 4px 4px #0000003a;

    /* height: 568px; */
}

@font-face {
    font-family: 'advent_probold';
    src: url('adventpro-bold-webfont.woff2') format('woff2'),
        url('adventpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'advent_proregular';
    src: url('adventpro-regular-webfont.woff2') format('woff2'),
        url('adventpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}